<template>
  <div class="card" v-bind:class="{active: isActive}">
    <p class="card__title">{{ cardData.title }}</p>
    <div class="card__content">
      <div class="card__image">
        <img :src="cardData.img" :alt="cardData.title">
      </div>
      <div class="card-content">
        <div v-for="(data, key) in cardData.props" class="card-content__row">
          <div class="card-content__col">{{key}}</div>
          <div class="card-content__col">{{data}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: ['cardData', 'isActive']
}
</script>

<style lang="scss" scoped>
.card {
  &__title {
    display: block;
    text-align: center;
    padding: 15px 0px 12px;
    background-color: #ebebeb;
    margin: 0;
  }
  &__content {
    padding: 30px;
  }
  &__image {
    position: relative;
    padding-bottom: 30px;
    & img {
      width: 100%;
    }
    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background-color: #ebebeb;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
  &.active {
    & .card__title {
      background-color: #f61818;
      color: #ffffff;
    }
  }

}
.card-content {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 13px;
  &__row {
    padding: 5px 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__col {
    text-align: left;
    &:first-child {
      color: #cccccc;
    }
  }
}

</style>
