<template>
  <div class="steps">
    <div class="steps__wrap container">
      <ul class="steps__list">
        <li class="steps__item"
            v-bind:class="{active: innerCurrentStep.index == key, past: innerCurrentStep.index > key}"
            v-for="(value, key) in innerStepList"
        >
          <a href="#" class="steps__link">{{ value.title }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderSteps',
  props: ['innerStepList', 'innerCurrentStep']
}
</script>

<style lang="scss" scoped>
/* step-list styles */
* {
  box-shadow: border-box;
}
.steps {
  background-color: #e9e9e9;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
  }
  &__item {
    position: relative;
    &.active {
      &:after {
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        border: 1px solid #f61818;
      }
    }
    &.past {
      &:after {
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #f61818;
        border: 1px solid #f61818;
      }
    }
  }
  &__link {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 24px 30px;
  }
}
/* end of step-list styles */
</style>
