<template>
  <div class="threesixty">
    <div class="spinner">
      <span>0%</span>
    </div>
    <ol class="threesixty_images"></ol>
  </div>
</template>

<script>
export default {
  name: 'ImageSlider',
  props: ['colorData', 'width', 'height'],
  methods: {
    sliderInit: function () {
      console.log(this.colorData)
      // eslint-disable-next-line
      var slider = $('.threesixty').ThreeSixty({
        totalFrames: 35, // Total no. of image you have for 360 slider
        endFrame: 35, // end frame for the auto spin animation
        currentFrame: 1, // This the start frame for auto spin
        imgList: '.threesixty_images', // selector for image list
        progress: '.spinner', // selector to show the loading progress
        imagePath: this.colorData.path, // path of the image assets
        filePrefix: '', // file prefix if any
        ext: '.png', // extention for the assets
        height: this.height,
        width: this.width,
        navigation: true
      })
    }
  },
  watch: {
    colorData: function () {
      // eslint-disable-next-line
      $('.threesixty_images').empty()
      this.sliderInit()
    }
  }
}
</script>

<style lang="scss" scoped>
.image-slider {
  width: 100%;
  &__images {
    & li {
      & img {
        width: 100%;
      }
    }
  }
}
</style>
