<template>
  <div class="step-color">
    <div class="step-color__wrap container">
      <h2 class="title step-color__title">Выберите цвет</h2>
      <div class="step-color__subtitle slider-subtitle">
        <span class="slider-subtitle__text">{{modelTitle}}</span>
      </div>
      <image-slider
        v-if="colorsData[activeColor] != 'undefined'"
        :colorData="colorsData[activeColor]"
        :width="1200"
        :height="650"
      ></image-slider>
      <ul v-if="step == 'color'" class="step-color__list">
        <li
          v-for="(value, key) in colorsData"
          v-bind:class="{active: activeColor == key}"
          @click="activeColor = key"
          class="step-color__item">
          <span class="step-color__item-square"
            v-bind:style="{'background': `linear-gradient(${value.codeFrom}, ${value.codeTo})`}"
          >
          </span>
          <span class="step-color__item-title">{{value.title}}</span>
        </li>
      </ul>
      <StepAcc
        v-if="step == 'acc'"
        :accData="innerData[activeColor].accs"
        :activeData.sync="accsData"
      >
      </StepAcc>
    </div>
  </div>
</template>

<script>
import ImageSlider from './ImageSlider'
import StepAcc from './StepAcc'

export default {
  name: 'StepColor',
  components: {
    ImageSlider, StepAcc
  },
  props: ['innerData', 'value', 'modelTitle', 'step', 'result', 'accs'],
  data: function () {
    return {
      activeColor: 'green',
      colorsData: '',
      accsData: []
    }
  },
  methods: {
    saveData: function () {
      this.colorsData = this.innerData
    }
  },
  mounted: function () {
    this.saveData()
    this.$emit('update:value', this.activeColor)
    this.$emit('update:result', this.activeColor)
  },
  watch: {
    activeColor: function () {
      this.$emit('update:value', this.activeColor)
      this.$emit('update:result', this.activeColor)
    },
    accsData: function () {
      this.$emit('update:accs', this.accsData)
      this.$emit('update:value', this.accsData)
    }
  }
}
</script>

<style lang="scss" scoped>
.step-color {
  &__wrap {
    text-align: center;
  }
  &__title {
    margin-top: 50px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  &__item {
    margin: 0 30px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    &.active {
      .step-color__item-square {
        box-shadow: 0px 0px 10px 4px rgba(195,195,195,1);
      }
    }
  }
  &__item-square {
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }

}
</style>
