<template>
  <div class="step-cabin">
    <div class="step-cabin__wrap container">
      <h2 class="title step-cabin__title">Выберите тип кабины</h2>
      <ul class="step-cabin__list">
        <li class="step-cabin__item cabin-item"
            v-bind:class="{active: activeOption == key}"
            v-for="(value, key) in innerData"
            @click="activeOption = key"
        >
          <div class="cabin-item__header">
            <div class="cabin-item__icon">
              <!-- <svg><use :xlink:href="`#${value.icon}`"></use></svg> -->
            </div>
            <p class="step-cabin__item-title">{{ value.title }}</p>
          </div>

          <div class="cabin-item__content">
            <div class="cabin-item__image">
              <img :src="value.image" :alt="key">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line
import cabin15 from '../../static/images/cabin_1_5.svg'
// eslint-disable-next-line
import cabin20 from '../../static/images/cabin_2_0.svg'

export default {
  name: 'StepCabin',
  components: {},
  props: ['innerData', 'result', 'value', 'type'],
  data: function () {
    return {
      activeOption: ''
    }
  },
  watch: {
    activeOption: function () {
      this.$emit('update:result', this.activeOption)
      this.$emit('update:value', this.activeOption)
      if (this.activeOption === 'extended') {
        this.$emit('update:type', 'mech')
      }
    }
  }
}
</script>

<style lang="scss" scoped>

.step-cabin {
  &__wrap {
    margin-top: 70px;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    list-style: none;
  }
  &__item {
    width: 48%;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 0.5px 0.866px 6px 0px rgb( 0, 0, 0 );
  }
}

.cabin-item {
  cursor: pointer;
  &__content {
    padding: 30px;
  }
  &__header {
    background-color: #e6e6e6;
    padding: 15px 30px 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    position: relative;
    width: 125px;
    overflow: hidden;
    & svg {
      width: 100%;
      height: 100px;
      fill: transparent;
      stroke: black;
    }
    &:after {
      display: block;
    }
  }
  &__image {
    position: relative;
    & img {
      width: 100%;
    }
  }
  &.active {
    .cabin-item__header {
      background-color: #f61818;
    }
    .step-cabin__item-title {
      color: #ffffff;
    }
  }
}
.cabin-content {
  margin-top: 60px;
  margin-bottom: 30px;
  &__row {
    padding: 0 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__col {
    &:first-child {
      color: #cccccc;
    }
  }
}
</style>
