<template>
  <div class="step-result">
    <div class="step-result__wrap container">
      <h2 class="title step-result__title">Результат</h2>
      <div class="step-result__subtitle slider-subtitle">
        <span class="slider-subtitle__text">{{data.cabin[resultData.cabin].type[resultData.type].model[resultData.model].title}}</span>
      </div>
      <image-slider
        :colorData="data.cabin[resultData.cabin].type[resultData.type].model[resultData.model].colors[resultData.color]"
        :width="800"
        :height="400"
      ></image-slider>
      <div class="step-result__save save-result">
        <div class="save-result__wrap">
          <p class="save-result__text">Уникальная ссылка соответствует только выбранной вами конфигурации автомобиля. Сохраните или запишите ее, чтобы продолжить конфигурацию в любое удобное для вас время с любого устройства.</p>
          <div class="save-result__box">
            <input type="text" class="save-result__input">
            <button class="save-result__copy">Скопировать</button>
          </div>
        </div>
        <div class="save-result__wrap">
          <div class="save-result__actions">
            <button class="save-result__btn save-result__btn_pdf">Сохранить PDF</button>
            <button class="save-result__btn save-result__btn_print">Печать</button>
          </div>
        </div>
      </div>
      <h3 class="step-result__subtitle">Ваша конфигурация</h3>
      <div class="step-result__conf result-conf">
        <div class="result-conf__row">
          <span class="result-conf__caption">Комплектация</span>
          <span class="result-conf__value">{{data.cabin[resultData.cabin].type[resultData.type].model[resultData.model].title}}</span>
        </div>
        <div class="result-conf__row">
          <span class="result-conf__caption">Кабина</span>
          <span class="result-conf__value">{{data.cabin[resultData.cabin].title}}</span>
        </div>
        <div class="result-conf__row">
          <span class="result-conf__caption">Тип трансмиссии</span>
          <span class="result-conf__value">{{data.cabin[resultData.cabin].type[resultData.type].title}}</span>
        </div>
        <div class="result-conf__row">
          <span class="result-conf__caption">Аксессуары</span>
          <span class="result-conf__value"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ImageSlider from './ImageSlider'

export default {
  name: 'StepResult',
  components: { ImageSlider },
  props: ['resultData', 'data'],
  data: function () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
.result-conf {
  &__row {
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
  }
  &__caption {

  }
}
.step-result {
  &__wrap {
    text-align: center;
  }
  &__title {
    margin-top: 40px;
  }
  &__subtitle {
    color: #737373;
    font-size: 24px;
    margin-top: 40px;
  }
}
.save-result {
  padding: 20px 40px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  display: flex;
  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 3px;
    height: 92%;
    left: -8px;
    top: 4%;
    border-left: 3px solid #f61818;
    box-sizing: border-box;
  }
  &__wrap {
    &:first-child {
      width: 60%;
    }
    &:last-child {
      width: 40%;
    }
  }
  &__text {
    margin: 0;
    text-align: left;
  }
  &__box {
    display: flex;
    margin-top: 30px;
    width: 100%;

  }
  &__input {
    border: 3px solid #ebebeb;
    color: #818181;
    font-size: 16px;
    padding: 8px 10px;
    width: 70%;
    text-align: center;
  }
  &__copy {
    border: 3px solid #ebebeb;
    border-left: none;
    background: #f7f5f5;
    color: #818181;
    font-size: 14px;
    padding: 8px 10px;
    width: 30%;
    cursor: pointer;
  }
  &__actions {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
  }
  &__btn {
    position: relative;
    display: block;
    min-width: 250px;
    background-color: #e9e9e9;
    color: #303030;
    padding: 14px 20px 13px 60px;
    border: 0;
    font-size: 14px;
    margin: 15px 0;
    &_pdf {
      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 20px;
        height: 28px;
        background-image: url(/static/images/pdf.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        top: 50%;
        margin-top: -14px;
        left: 35px;
      }
    }
    &_print {
      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 23px;
        height: 23px;
        background-image: url(/static/images/printer.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        top: 50%;
        margin-top: -11px;
        left: 35px;
      }
    }
  }
}

</style>
