<template>
  <div class="step-acc">
    <ul class="step-acc__list">
      <li class="step-acc__item"
        v-for="(value, index) in accData"
        v-bind:class="{active: activeSection == index}"
        @click="activeSection = index">
        <div class="step-acc__icon">
          <svg><use :xlink:href="`#${value.icon}`"></use></svg>
        </div>
        <p class="step-acc__item-title">{{value.title}}</p>
      </li>
    </ul>

    <ul v-if="activeSection != ''" class="acc-list">
      <li class="acc-list__item"
        v-for="(value, index) in accData[activeSection].items"
        v-bind:class="{active: activeOptions[activeSection].indexOf(index) != -1}"
        @click="addRemoveAcc(index)"
      >
        <div class="acc-list__item-img">
          <img :src="value.previewPicture" :alt="value.title">
        </div>
        <div class="acc-list__item-price">{{value.price}} р.</div>
        <div class="acc-list__item-title">{{value.title}}</div>
      </li>
    </ul>
  </div>
</template>

<script>
// eslint-disable-next-line
import shining from '../../static/images/shining.svg'
// eslint-disable-next-line
import box from '../../static/images/box.svg'
// eslint-disable-next-line
import car from '../../static/images/car.svg'
// eslint-disable-next-line
import rug from '../../static/images/rug.svg'

export default {
  name: 'StepAcc',
  components: {},
  props: ['accData', 'activeData'],
  data: function () {
    return {
      activeSection: '',
      activeOptions: {
        transport: [],
        bodyProtect: [],
        interiorProtect: [],
        exterior: []
      }
    }
  },
  watch: {
    activeOptions: function () {
      this.$emit('update:activeData', this.activeOptions)
    }
  },
  methods: {
    addRemoveAcc: function (target) {
      if (this.activeOptions[this.activeSection].indexOf(target) === -1) {
        this.activeOptions[this.activeSection].push(target)
      } else {
        this.activeOptions[this.activeSection].splice(this.activeOptions[this.activeSection].indexOf(target), 1)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.step-acc {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  &__item {
    &.active {
      & .step-acc__icon {
        border: 1px solid #f61818;
        background-color: #f61818;
        & svg {
          fill: #ffffff;
        }
      }
    }
  }
  &__icon {
    margin: 0 50px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    width: 100px;
    height: 100px;
    cursor: pointer;
    & svg {
      width: 50px;
      height: 50px;
      fill: #999999;
    }
  }
}
.acc-list {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  &__item {
    width: 30%;
    margin: 0;
    padding: 20px;
    border: 1px solid #ebebeb;
    margin: 0 1.666666666%;
    cursor: pointer;
    &.active {
      border: 1px solid #f61818;
    }
  }
  &__item-price {
    margin-top: 20px;
    display: block;
    padding: 10px 0 8px;
    font-size: 18px;
    text-align: center;
    color: #333333;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
  &__item-title {
    margin-top: 20px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #333333;
  }
}
</style>
