<template>
  <div class="step-model">
    <div class="step-model__wrap container">
      <p class="title step-model__title">Выберите комплектацию</p>
      <ul class="step-model__list">
        <li
          v-for="(value, key) in innerData"
          class="step-model__item model-item"
          v-bind:class="{active: activeOption == key}"
          @click="activeOption = key"
        >
          <card :cardData="value" class="type-trm__item" :isActive="(activeOption == key)? true: false"></card>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Card from './Card'

export default {
  name: 'StepModel',
  components: {
    Card
  },
  props: ['innerData', 'result', 'value'],
  data: function () {
    return {
      activeOption: ''
    }
  },
  watch: {
    activeOption: function () {
      this.$emit('update:result', this.activeOption)
      this.$emit('update:value', this.activeOption)
    }
  }
}
</script>

<style lang="scss" scoped>
.step-model {
  &__wrap {
    margin-top: 70px;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    list-style: none;
  }
  &__item {
    width: 30%;
    margin-left: 1.66666666%;
    margin-right: 1.66666666%;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 0.5px 0.866px 6px 0px rgb( 0, 0, 0 );
  }
}

.model-item {
  cursor: pointer;
  &__title {
    display: block;
    text-align: center;
    padding: 15px 0px 12px;
    background-color: #ebebeb;
    margin: 0;
  }
  &__content {
    padding: 30px;
  }
  &__image {
    position: relative;
    padding-bottom: 30px;
    & img {
      width: 100%;
    }
    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background-color: #ebebeb;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
  &.active {
    // .cabin-item__header {
    //   background-color: #f61818;
    // }
  }
}
.model-content {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 13px;
  &__row {
    padding: 5px 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__col {
    text-align: left;
    &:first-child {
      color: #cccccc;
    }
  }
}
</style>
