<template>
  <div class="step-type">
    <div class="step-type__wrap container">
      <p class="title step-type__title">Выберите тип трансмиссии</p>
      <div class="step-type__trm type-trm">
        <div class="type-trm__wrap">
          <div
            v-for="(value, key) in innerData"
            v-bind:class="{active: activeOption == key}"
            @click="activeOption = key"
            class="type-trm__item"
          >
            <p class="type-trm__title">{{value.title}}</p>
            <div class="type-trm__icon-wrap">
              <svg class="type-trm__icon"><use :xlink:href="`#${value.icon}`"></use></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line
import gearbox_a from '../../static/images/gearbox_a.svg'
// eslint-disable-next-line
import gearbox_m from '../../static/images/gearbox_m.svg'

export default {
  name: 'StepType',
  props: ['innerData', 'result', 'value'],
  data: function () {
    return {
      activeOption: ''
    }
  },
  watch: {
    activeOption: function () {
      this.$emit('update:result', this.activeOption)
      this.$emit('update:value', this.activeOption)
    }
  }
}
</script>

<style lang="scss" scoped>
.step-type {
  &__wrap {
    margin-top: 50px;
    text-align: center;
  }
}
.type-trm {
  margin-top: 40px;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    display: block;
    text-align: center;
    padding: 15px 0px 12px;
    background-color: #ebebeb;
    margin: 0;
  }
  &__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  &__item {
    width: 48%;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 0.5px 0.866px 6px 0px rgb( 0, 0, 0 );
    cursor: pointer;
    &.active {
      background-color: #ebebeb;
      & .type-trm__title {
        color: #ffffff;
        background-color: #f61818;
      }
      & .type-trm__icon {
        fill: #f61818;
      }
    }
  }
  &__icon {
    fill: #000000;
  }
}
</style>
