<template>
  <div id="app">
    <header class="header">
      <div class="header__wrap container">
        <div class="header__logo">
          <a href="/"><img src="./assets/logo.png" alt="Isuzu" class="header__logo-img"></a>
        </div>
        <h1 class="header__title">Конфигуратор <span>Isuzu</span> D-Max</h1>
        <button v-bind:class="{active: isBurgerActive}" @click="isBurgerActive = !isBurgerActive" class="hamburger hamburger--spin" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </header>
    <main class="content">
      <HeaderSteps
        :innerStepList="stepList"
        :innerCurrentStep.sync="currentStep"
      />
      <StepCabin
        v-if="currentStep.id == 'cabin'"
        :result.sync="result.cabin"
        :value.sync="currentStep.value"
        :type.sync="result.type"
        :innerData="mainData.cabin">
      </StepCabin>
      <StepType
        v-if="currentStep.id == 'type' && result.cabin == 'double'"
        :innerData="mainData.cabin[result.cabin].type"
        :result.sync="result.type"
        :result.value="currentStep.value">
      </StepType>
      <StepModel
        v-if="currentStep.id == 'type' && result.type != ''"
        :innerData="mainData.cabin[result.cabin].type[result.type].model"
        :result.sync="result.model"
        :value.sync="currentStep.value">
      </StepModel>
      <StepColor
        v-if="currentStep.id == 'color' || currentStep.id == 'acc'"
        :innerData="mainData.cabin[result.cabin].type[result.type].model[result.model].colors"
        :modelTitle="mainData.cabin[result.cabin].type[result.type].model[result.model].title"
        :value.sync="currentStep.value"
        :step="currentStep.id"
        :result.sync="result.color"
        :accs.sync="result.acc"
      >
      </StepColor>
      <StepResult
        v-if="currentStep.id == 'result'"
        :resultData="result"
        :data="mainData"
      >
      </StepResult>

      <div class="content-nav">
        <button @click="setPrevStep()" v-if="currentStep.index > 0" id="btn_next" class="content-nav__btn" type="button">Назад</button>
        <button
          id="btn_next" class="content-nav__btn" type="button"
          @click="setNextStep()"
          v-bind:class="{disabled: currentStep.value.length == 0 && currentStep.id != 'acc'}"
          v-if="currentStep.index < stepList.length - 1">
          Далее
        </button>
      </div>

    </main>
  </div>
</template>

<script>
import HeaderSteps from './components/HeaderSteps'
import StepCabin from './components/StepCabin'
import StepType from './components/StepType'
import StepModel from './components/StepModel'
import StepColor from './components/StepColor'
import StepResult from './components/StepResult'

export default {
  name: 'app',
  components: {
    HeaderSteps, StepCabin, StepType, StepModel, StepColor, StepResult
  },
  methods: {
    getStepId: function (index) {
      this.stepList.forEach(function (item, i, arr) {
        if (item.id === index) {
          return item.id
        }
      })
    },
    setNextStep: function () {
      if (this.currentStep.index < this.stepList.length - 1) {
        this.currentStep.index++
        this.currentStep.id = this.stepList[this.currentStep.index].id
        this.currentStep.value = ''
      }
    },
    setPrevStep: function () {
      if (this.currentStep.index > 0) {
        this.currentStep.index--
        this.currentStep.id = this.stepList[this.currentStep.index].id
        this.currentStep.value = this.result[this.currentStep.id]
      }
    }
  },
  data: function () {
    return {
      mainData: {
        cabin: {
          extended: {
            title: 'Полуторная',
            icon: 'cabin_1_5',
            image: '/static/images/1_5_cabin.jpg',
            type: {
              mech: {
                title: 'Механическая',
                icon: 'gearbox_m',
                model: {
                  'Terra': {
                    title: 'Isuzu D-Max Terra',
                    img: '/static/images/aqua.jpg',
                    props: {
                      'Кабина': 'Double',
                      'Двигатель': 'ISUZU 4JK1',
                      'Количество мест': '5(2+3)',
                      'Длина грузового отсека, мм': '1485/1552',
                      'Ширина грузового отсека, мм': '1530',
                      'Высота грузового отсека, мм': '465'
                    },
                    colors: {
                      green: {
                        title: 'Tundra Green Mica',
                        codeFrom: '#42655c',
                        codeTo: '#314b44',
                        path: '/static/slider/terra/green/'
                      },
                      silver: {
                        title: 'Titanium Silver Met',
                        codeFrom: '#e9e8e8',
                        codeTo: '#d7d5d5',
                        path: '/static/slider/terra/silver/'
                      },
                      white: {
                        title: 'Splash White',
                        codeFrom: '#fafafa',
                        codeTo: '#f6f4f4',
                        path: '/static/slider/terra/white/'
                      },
                      blue: {
                        title: 'Nautilus Blue Mica',
                        codeFrom: '#39449d',
                        codeTo: '#283175',
                        path: '/static/slider/terra/blue/'
                      },
                      gray: {
                        title: 'Mineral Gray Met',
                        codeFrom: '#acb9bf',
                        codeTo: '#8e9a9f',
                        path: '/static/slider/terra/gray/'
                      },
                      black: {
                        title: 'Cosmic Black Mica',
                        codeFrom: '#343434',
                        codeTo: '#000000',
                        path: '/static/slider/terra/black/'
                      },
                      biege: {
                        title: 'Ash Biege Met',
                        codeFrom: '#e4dad1',
                        codeTo: '#c8bfb7',
                        path: '/static/slider/terra/biege/'
                      }
                    }
                  }
                }
              }
            }
          },
          double: {
            title: 'Двойная',
            icon: 'cabin_2_0',
            image: '/static/images/2_0_cabin.jpg',
            type: {
              auto: {
                title: 'Автоматическая',
                icon: 'gearbox_a',
                model: {
                  'Air': {
                    title: 'Isuzu D-Max Air',
                    img: '/static/images/aqua.jpg',
                    props: {
                      'Кабина': 'Double',
                      'Двигатель': 'ISUZU 4JK1',
                      'Количество мест': '5(2+3)',
                      'Длина грузового отсека, мм': '1485/1552',
                      'Ширина грузового отсека, мм': '1530',
                      'Высота грузового отсека, мм': '465'
                    },
                    colors: {
                      green: {
                        title: 'Tundra Green Mica',
                        codeFrom: '#42655c',
                        codeTo: '#314b44',
                        path: '/static/slider/air/green/',
                        accs: {
                          transport: {
                            title: 'Транспортировка',
                            icon: 'box',
                            items: {
                              tireProtect: {
                                title: 'Защита дисков Toyota protect',
                                price: 22830,
                                previewPicture: '/static/images/acc_example.png',
                                dataPath: ''
                              },
                              tireProtect2: {
                                title: 'Защита дисков Toyota protect2',
                                price: 23830,
                                previewPicture: '/static/images/acc_example.png',
                                dataPath: ''
                              },
                              tireProtect3: {
                                title: 'Защита дисков Toyota protect3',
                                price: 24830,
                                previewPicture: '/static/images/acc_example.png',
                                dataPath: ''
                              }
                            }
                          },
                          bodyProtect: {
                            title: 'Защита кузова',
                            icon: 'car',
                            items: {}
                          },
                          interiorProtect: {
                            title: 'Защита салона',
                            icon: 'rug',
                            items: {}
                          },
                          exterior: {
                            title: 'Внешний дизайн',
                            icon: 'shining',
                            items: {}
                          }
                        }
                      },
                      silver: {
                        title: 'Titanium Silver Met',
                        codeFrom: '#e9e8e8',
                        codeTo: '#d7d5d5',
                        path: '/static/slider/air/silver/'
                      },
                      white: {
                        title: 'Splash White',
                        codeFrom: '#fafafa',
                        codeTo: '#f6f4f4',
                        path: '/static/slider/air/white/'
                      },
                      blue: {
                        title: 'Nautilus Blue Mica',
                        codeFrom: '#39449d',
                        codeTo: '#283175',
                        path: '/static/slider/air/blue/'
                      },
                      gray: {
                        title: 'Mineral Gray Met',
                        codeFrom: '#acb9bf',
                        codeTo: '#8e9a9f',
                        path: '/static/slider/air/gray/'
                      },
                      black: {
                        title: 'Cosmic Black Mica',
                        codeFrom: '#343434',
                        codeTo: '#000000',
                        path: '/static/slider/air/black/'
                      },
                      biege: {
                        title: 'Ash Biege Met',
                        codeFrom: '#e4dad1',
                        codeTo: '#c8bfb7',
                        path: '/static/slider/air/biege/'
                      }
                    }
                  },
                  'Energy': {
                    title: 'Isuzu D-Max Energy',
                    img: '/static/images/aqua.jpg',
                    props: {
                      'Кабина': 'Double',
                      'Двигатель': 'ISUZU 4JK1',
                      'Количество мест': '5(2+3)',
                      'Длина грузового отсека, мм': '1485/1552',
                      'Ширина грузового отсека, мм': '1530',
                      'Высота грузового отсека, мм': '465'
                    },
                    colors: {
                      green: {
                        title: 'Tundra Green Mica',
                        codeFrom: '#42655c',
                        codeTo: '#314b44',
                        path: '/static/slider/flame/green/'
                      },
                      silver: {
                        title: 'Titanium Silver Met',
                        codeFrom: '#e9e8e8',
                        codeTo: '#d7d5d5',
                        path: '/static/slider/flame/silver/'
                      },
                      white: {
                        title: 'Splash White',
                        codeFrom: '#fafafa',
                        codeTo: '#f6f4f4',
                        path: '/static/slider/flame/white/'
                      },
                      blue: {
                        title: 'Nautilus Blue Mica',
                        codeFrom: '#39449d',
                        codeTo: '#283175',
                        path: '/static/slider/flame/blue/'
                      },
                      gray: {
                        title: 'Mineral Gray Met',
                        codeFrom: '#acb9bf',
                        codeTo: '#8e9a9f',
                        path: '/static/slider/flame/gray/'
                      },
                      black: {
                        title: 'Cosmic Black Mica',
                        codeFrom: '#343434',
                        codeTo: '#000000',
                        path: '/static/slider/flame/black/'
                      },
                      biege: {
                        title: 'Ash Biege Met',
                        codeFrom: '#e4dad1',
                        codeTo: '#c8bfb7',
                        path: '/static/slider/flame/biege/'
                      }
                    }
                  },
                  'AT': {
                    title: 'Isuzu D-Max Arctic Trucks AT35',
                    img: '/static/images/dmax_AT.png',
                    props: {
                      'Кабина': 'Double',
                      'Двигатель': 'ISUZU 4JK1',
                      'Количество мест': '5(2+3)',
                      'Длина грузового отсека, мм': '1485/1552',
                      'Ширина грузового отсека, мм': '1530',
                      'Высота грузового отсека, мм': '465'
                    },
                    colors: {
                      green: {
                        title: 'Tundra Green Mica',
                        codeFrom: '#42655c',
                        codeTo: '#314b44',
                        path: '/static/slider/at/green/'
                      },
                      silver: {
                        title: 'Titanium Silver Met',
                        codeFrom: '#e9e8e8',
                        codeTo: '#d7d5d5',
                        path: '/static/slider/at/silver/'
                      },
                      white: {
                        title: 'Splash White',
                        codeFrom: '#fafafa',
                        codeTo: '#f6f4f4',
                        path: '/static/slider/at/white/'
                      },
                      blue: {
                        title: 'Nautilus Blue Mica',
                        codeFrom: '#39449d',
                        codeTo: '#283175',
                        path: '/static/slider/at/blue/'
                      },
                      gray: {
                        title: 'Mineral Gray Met',
                        codeFrom: '#acb9bf',
                        codeTo: '#8e9a9f',
                        path: '/static/slider/at/gray/'
                      },
                      black: {
                        title: 'Cosmic Black Mica',
                        codeFrom: '#343434',
                        codeTo: '#000000',
                        path: '/static/slider/at/black/'
                      },
                      biege: {
                        title: 'Ash Biege Met',
                        codeFrom: '#e4dad1',
                        codeTo: '#c8bfb7',
                        path: '/static/slider/at/biege/'
                      }
                    }
                  }
                }
              },
              mech: {
                title: 'Механическая',
                icon: 'gearbox_m',
                model: {
                  'Aqua': {
                    title: 'Isuzu D-Max Aqua',
                    img: '/static/images/aqua.jpg',
                    props: {
                      'Кабина': 'Double',
                      'Двигатель': 'ISUZU 4JK1',
                      'Количество мест': '5(2+3)',
                      'Длина грузового отсека, мм': '1485/1552',
                      'Ширина грузового отсека, мм': '1530',
                      'Высота грузового отсека, мм': '465'
                    },
                    colors: {
                      green: {
                        title: 'Tundra Green Mica',
                        codeFrom: '#42655c',
                        codeTo: '#314b44',
                        path: '/static/slider/aqua/green/'
                      },
                      silver: {
                        title: 'Titanium Silver Met',
                        codeFrom: '#e9e8e8',
                        codeTo: '#d7d5d5',
                        path: '/static/slider/aqua/silver/'
                      },
                      white: {
                        title: 'Splash White',
                        codeFrom: '#fafafa',
                        codeTo: '#f6f4f4',
                        path: '/static/slider/aqua/white/'
                      },
                      blue: {
                        title: 'Nautilus Blue Mica',
                        codeFrom: '#39449d',
                        codeTo: '#283175',
                        path: '/static/slider/aqua/blue/'
                      },
                      gray: {
                        title: 'Mineral Gray Met',
                        codeFrom: '#acb9bf',
                        codeTo: '#8e9a9f',
                        path: '/static/slider/aqua/gray/'
                      },
                      black: {
                        title: 'Cosmic Black Mica',
                        codeFrom: '#343434',
                        codeTo: '#000000',
                        path: '/static/slider/aqua/black/'
                      },
                      biege: {
                        title: 'Ash Biege Met',
                        codeFrom: '#e4dad1',
                        codeTo: '#c8bfb7',
                        path: '/static/slider/aqua/biege/'
                      }
                    }
                  },
                  'Flame': {
                    title: 'Isuzu D-Max Flame',
                    img: '/static/images/flame.jpg',
                    props: {
                      'Кабина': 'Double',
                      'Двигатель': 'ISUZU 4JK1',
                      'Количество мест': '5(2+3)',
                      'Длина грузового отсека, мм': '1485/1552',
                      'Ширина грузового отсека, мм': '1530',
                      'Высота грузового отсека, мм': '465'
                    },
                    colors: {
                      green: {
                        title: 'Tundra Green Mica',
                        codeFrom: '#42655c',
                        codeTo: '#314b44',
                        path: '/static/slider/flame/green/'
                      },
                      silver: {
                        title: 'Titanium Silver Met',
                        codeFrom: '#e9e8e8',
                        codeTo: '#d7d5d5',
                        path: '/static/slider/flame/silver/'
                      },
                      white: {
                        title: 'Splash White',
                        codeFrom: '#fafafa',
                        codeTo: '#f6f4f4',
                        path: '/static/slider/flame/white/'
                      },
                      blue: {
                        title: 'Nautilus Blue Mica',
                        codeFrom: '#39449d',
                        codeTo: '#283175',
                        path: '/static/slider/flame/blue/'
                      },
                      gray: {
                        title: 'Mineral Gray Met',
                        codeFrom: '#acb9bf',
                        codeTo: '#8e9a9f',
                        path: '/static/slider/flame/gray/'
                      },
                      black: {
                        title: 'Cosmic Black Mica',
                        codeFrom: '#343434',
                        codeTo: '#000000',
                        path: '/static/slider/flame/black/'
                      },
                      biege: {
                        title: 'Ash Biege Met',
                        codeFrom: '#e4dad1',
                        codeTo: '#c8bfb7',
                        path: '/static/slider/flame/biege/'
                      }
                    }
                  },
                  'AT': {
                    title: 'Isuzu D-Max Arctic Trucks AT35',
                    img: '/static/images/dmax_AT.png',
                    props: {
                      'Кабина': 'Double',
                      'Двигатель': 'ISUZU 4JK1',
                      'Количество мест': '5(2+3)',
                      'Длина грузового отсека, мм': '1485/1552',
                      'Ширина грузового отсека, мм': '1530',
                      'Высота грузового отсека, мм': '465'
                    },
                    colors: {
                      green: {
                        title: 'Tundra Green Mica',
                        codeFrom: '#42655c',
                        codeTo: '#314b44',
                        path: '/static/slider/at/green/'
                      },
                      silver: {
                        title: 'Titanium Silver Met',
                        codeFrom: '#e9e8e8',
                        codeTo: '#d7d5d5',
                        path: '/static/slider/at/silver/'
                      },
                      white: {
                        title: 'Splash White',
                        codeFrom: '#fafafa',
                        codeTo: '#f6f4f4',
                        path: '/static/slider/at/white/'
                      },
                      blue: {
                        title: 'Nautilus Blue Mica',
                        codeFrom: '#39449d',
                        codeTo: '#283175',
                        path: '/static/slider/at/blue/'
                      },
                      gray: {
                        title: 'Mineral Gray Met',
                        codeFrom: '#acb9bf',
                        codeTo: '#8e9a9f',
                        path: '/static/slider/at/gray/'
                      },
                      black: {
                        title: 'Cosmic Black Mica',
                        codeFrom: '#343434',
                        codeTo: '#000000',
                        path: '/static/slider/at/black/'
                      },
                      biege: {
                        title: 'Ash Biege Met',
                        codeFrom: '#e4dad1',
                        codeTo: '#c8bfb7',
                        path: '/static/slider/at/biege/'
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      currentStep: {
        index: 0,
        id: 'cabin',
        value: []
      },
      stepList: [
        {
          index: 0,
          id: 'cabin',
          title: 'Кабина'
        },
        {
          index: 1,
          id: 'type',
          title: 'Тип трансмиссии и комплектации'
        },
        {
          index: 2,
          id: 'color',
          title: 'Цвет'
        },
        {
          index: 3,
          id: 'acc',
          title: 'Аксессуары'
        },
        {
          index: 4,
          id: 'result',
          title: 'Результат'
        }
      ],
      isBurgerActive: false,
      result: {
        cabin: [],
        type: [],
        model: [],
        color: [],
        acc: []
      }
    }
  }
}
</script>

<style lang="scss">

* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}
body {
  padding-bottom: 60px;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.title {
  display: inline-block;
  margin: 0;
  color: #303030;
  font-size: 18px;
  padding: 16px 0 18px;
  position: relative;
  &:before, &:after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f61818;
  }
  &:after {
    top: auto;
    bottom: 0;
  }
}
.header {
  padding: 30px 0;
  box-shadow: 0.5px 0.866px 6px 0px rgba(0, 0, 0, 0.12);
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  &__logo {
    margin-right: 30px;
  }
  &__title {
    margin: 0;
    margin-top: -5px;
    padding-left: 29px;
    color: #737373;
    text-transform: uppercase;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 50%;
      height: 50px;
      margin-top: -25px;
      width: 1px;
      display: block;
      background-color: #e9e9e9;
    }
    & span {
      color: #f61818;
    }
  }
  & .hamburger {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
  }
}

/* hamburger button styles */

// Settings
// ==================================================
$hamburger-padding-x                       : 0px !default;
$hamburger-padding-y                       : 0px !default;
$hamburger-layer-width                     : 40px !default;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 6px !default;
$hamburger-layer-color                     : #818181 !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;

.hamburger {
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  transition-property: opacity, filter;
  transition-duration: $hamburger-hover-transition-duration;
  transition-timing-function: $hamburger-hover-transition-timing-function;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    @if $hamburger-hover-use-filter == true {
      filter: $hamburger-hover-filter;
    }
    @else {
      opacity: $hamburger-hover-opacity;
    }
  }
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;
  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}

.hamburger--spin {
  .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.25s ease-in,
                  opacity 0.1s ease-in;
    }

    &::after {
      transition: bottom 0.1s 0.25s ease-in,
                  transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.active {
    .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out,
                    opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
                    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

/* end of hamburger button styles */

.content-nav {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  &__btn {
    outline: 0;
    border: 2px solid #cccccc;
    background: none;
    margin: 0 30px;
    padding: 8px 30px;
    cursor: pointer;
    &:hover {
      background: #f61818;
      color: #ffffff;
      border: 2px solid #f61818;
    }
    &.disabled {
      pointer-events: none;
      border: 2px solid #cccccc;
      background: none;
      opacity: 0.3;
      &:hover {
        border: 2px solid #cccccc;
        background: none;
      }
    }
  }
}

.slider-subtitle {
  display: block;
  text-align: left;
  position: relative;
  margin-top: 40px;
  &__text {
    color: #ffffff;
    font-size: 18px;
    padding: 6px 20px 8px;
    background-color: #f61818;
    display: inline-block;
  }
  &:after {
    display: block;
    content: '';
    width: 82px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -41px;
    margin-top: 20px;
    background-image: url(/static/images/360.png);
    background-repeat: no-repeat;
  }
}

</style>
